
@{
            Layout = null;
            Response.ContentEncoding = System.Text.Encoding.UTF8;
        }
    @model WebApplication1.Models.Tarefa

    @using (Html.BeginForm())
    {
        <label>Nome da Tarefa</label>
        @Html.TextBoxFor(m => m.Nm_Tarefa)

        <br />

        <label>
            @Html.CheckBoxFor(m => m.Fl_Concluida) Concluído
        </label>

        <br />

        <input type="submit" value="Salvar" />
    }
